body.dark-mode {
  .featured-product {
    position: relative;
    padding: 100px 0px;

    .featured-head {
      margin: 0 auto 30px auto;

      h6 {
        color: var(--main-color);
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 15px;
      }

      h3 {
        font-size: 30px;
        font-weight: 950;
      }

      p {
        line-height: 26px;
        margin: 20px 0px 60px 0;
      }

      @media screen and (max-width: 900px) {
        max-width: 630px;
        margin: 0 auto;
      }
    }

    .feature-icon {
      font-size: 50px;
      color: var(--main-color);
    }

    .featured-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      // grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
      gap: 13px 13px;
    }
  }
}

body.light-mode {
  .featured-product {
    position: relative;
    padding: 100px 0px;

    .featured-head {
      margin: 0 auto 30px auto;

      h6 {
        color: var(--main-color);
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 15px;
      }

      h3 {
        font-size: 30px;
        font-weight: 950;
      }

      p {
        line-height: 26px;
        margin: 20px 0px 60px 0;
      }

      @media screen and (max-width: 900px) {
        max-width: 630px;
        margin: 0 auto;
      }
    }

    .feature-icon {
      font-size: 50px;
      color: var(--main-color);
    }

    .featured-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      // grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
      gap: 13px 13px;
    }
  }
}
