.contact-form {
  @media screen and (max-width: 700px) {
    margin-left: 0px;
  }

  h2 {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 40px;
    max-width: 200px;
  }

  .formGrid {
    grid-column-gap: 20px;
    grid-row-gap: 8px;
    align-items: center;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    row-gap: 0px;
    width: var(--full);

    @media (max-width: 700px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .formGroup {
      margin-bottom: 8px;
      height: 90px;

      .errorStyle {
        color: var(--red);
        font-size: 10px;
        font-style: italic;
        padding: 5px 0 0 5px;
      }

      .phone-label-wrapper {
        display: flex;
        justify-content: space-between;

        label {
          display: block;
          font-size: 15px;
          margin-bottom: 4px;
          color: var(--head-txt);
          font-family: NotoSans-Medium, sans-serif;

          span {
            color: var(--red);
            margin-left: 5px;
          }
        }

        p {
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          color: #74808c;
        }
      }
    }
  }
  .formGroup {
    height: 90px;
    margin-bottom: 8px;
  }
  .textarea {
    height: 206.5px;
    margin-bottom: 8px;
  }

  .forgot {
    display: flex;
    justify-content: flex-end;

    .linkStyle {
      color: #004ef0;
      font-size: 16px;
      line-height: 19px;
      font-weight: 600;
    }
  }
  .btnWithError {
    .errorStyle {
      color: red;
      font-size: 12px;
      font-style: italic;
      padding: 5px 0 0 5px;
    }

    .submitBtn {
      // margin: 5px 0px 40px 0;
    }
  }

  .register {
    display: flex;
    justify-content: center;

    span {
      margin-right: 10px;
    }
    .linkStyle {
      color: #004ef0;
      font-size: 16px;
      line-height: 19px;
      font-weight: 600;
    }
  }
}
