body.dark-mode {
  .content {
    background: var(--dark-bg);

    .wrappeer {
      width: 100%;

      @media (max-width: 1387px) {
      }

      @media (max-width: 1315px) {
      }

      @media (max-width: 1264px) {
        justify-content: space-between;
      }

      .text-content {
        padding: 20px;

        @media (max-width: 680px) {
          // padding-top: 10px;
        }
      }

      .bar-content {
        flex: 2;
        padding-top: 70px;
        background-color: aquamarine;
        position: sticky;
      }
    }
  }
}

body.light-mode {
  .content {
    background: var(--light-bg);

    .wrappeer {
      width: 100%;

      @media (max-width: 1387px) {
      }

      @media (max-width: 1315px) {
      }

      @media (max-width: 1264px) {
        justify-content: space-between;
      }

      .text-content {
        padding: 20px;

        @media (max-width: 680px) {
          // padding-top: 10px;
        }
      }

      .bar-content {
        flex: 2;
        padding-top: 70px;
        background-color: aquamarine;
        position: sticky;
      }
    }
  }
}
