.sideNav {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999 !important;
  // transition: left 0.4s ease-in-out;
  // transition: right 0.9s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transform: translateX(100%); // Start off-screen
  background: var(--white);
  width: 300px;
  padding: 20px;

  &.show {
    transform: translateX(0); // Slide in
  }

  &.hidden {
    transform: translateX(-100%); // Slide out
  }

  @media screen and (max-width: 299px) {
    width: 280px;
  }

  .cartWrapper {
    position: relative;
    height: calc(100% - 101px);

    .cartHeader {
      // background: var(--main);
      // padding: 40px 20px;
      padding: 0px 0 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--black);
      border-bottom: solid 1px var(--lite-grey);

      .logo {
        // text-transform: uppercase;
        // font-size: 18px;
        // font-family: Montserrat-Bold, sans-serif;

        h6 {
          text-transform: uppercase;
          font-size: 18px;
          font-family: Montserrat-Bold, sans-serif;
          // font-weight: bolder;
        }
      }

       .flexHead {
        border-radius: 50%;
        background: none;
        border: 2px solid var(--grey);
        height: 30px;
        width: 30px;

        .close {
          font-size: 18px;
        }
      }

      // .shoppingCart {
      //   display: flex;
      //   align-items: center;

      //   // &:last-of-type{
      //   //
      //   // }
      // }
    }

    .navBody {
      height: 100%;

      .backButton {
        width: 100%;
        background-color: var(--off-white);
        color: var(--grey);
        font-weight: bold;
        padding: 10px 0;
        // margin: 0 10px;
      }
    }

    // .cartSubtotal {
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    //   position: absolute;
    //   width: 100%;
    //   bottom: -10px;
    //   // border-top: solid 1px var(--lite-grey);
    //   // margin: 20px 0px;
    //   padding: 20px 0 0 0;
    //   color: var(--grey);
    //   font-weight: bolder;
    //   text-transform: uppercase;
    //   // font-size: 10px !important;

    //   p {
    //     font-family: Montserrat-Bold, sans-serif;
    //     color: var(--grey);
    //     font-weight: bolder;
    //     text-transform: uppercase;
    //     font-size: 14px !important;
    //   }
    //   span {
    //     font-family: Montserrat-Bold, sans-serif;
    //     color: var(--grey);
    //     font-weight: bolder;
    //     text-transform: uppercase;
    //     font-size: 14px !important;
    //   }

    //   // a {
    //   //   &:last-of-type {
    //   //     margin-left: 20px;
    //   //   }
    //   // }
    // }

    .cartFooter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      width: 100%;
      bottom: -100px;
      border-top: solid 1px var(--lite-grey);
      // margin: 20px 0px;
      padding: 20px 0 0 0;

      a {
        &:last-of-type {
          margin-left: 20px;
        }
      }
    }
  }
}
