.collectionInfo {
  padding: 100px 0;
  background-color: var(--off-white);

  .collectionDetails {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 60px;
    // display: flex;
    .detailImg {
      // background-color: rgb(210, 210, 210);
      max-width: 500px;
      // max-height: 350px;
      width: 100%;
      margin-right: 60px;
      // border: 2px solid var(--lite-grey);

      img {
        width: 100%;
        border: 1px solid var(--lite-grey);
        max-height: 400px;
      }

      .imgBox {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 10px;
        width: 100%;
        margin-top: 10px;

        img {
          width: 100%;
          // max-height: 500px;
          border: 1px solid var(--lite-grey);
        }
      }
    }
    .detailTxt {
      .price {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        p {
          color: grey;
          margin-left: 0px;
          font-size: 30px;
          font-family: Montserrat-Medium, sans-serif;
          text-decoration: line-through !important;
          // text-decoration: none !important;
        }

        span {
          margin-left: 10px;
          p {
            font-size: 30px;
            font-family: Montserrat-Medium, sans-serif;
            color: var(--main);
            text-decoration: underline !important;
          }
        }
      }
      h5 {
        font-size: 60px;
        margin-bottom: 20px;
        font-family: Montserrat-Regular, sans-serif;
      }
      p {
        margin-bottom: 20px;
      }
      h4 {
        font-size: 30px;
        margin-bottom: 20px;
      }
      .detailExtraWrapper {
        .detailExtra {
          display: flex;
          align-items: center;
          align-content: center;
          margin-bottom: 10px;
          div {
            font-size: 20px;
            font-family: Montserrat-Bold, sans-serif;
            width: 100px;
          }
          span {
            font-size: 18px;
            margin-left: 10px;
            font-family: Montserrat-Medium, sans-serif;
          }
        }

        .detailStock {
          display: flex;
          align-items: center;
          div {
            font-size: 20px;
            color: var(--green);
            font-family: Montserrat-Medium, sans-serif;
            // width: 100px;
            margin-bottom: 10px;
          }
        }
      }

      .qtyAdd {
        display: flex;
        align-items: center;

        .qtyInput {
          width: 130px;
        }

        button {
          margin-left: 10px;
        }
      }
    }
  }
}
