.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80 !important;
  background-color: var(--white);
  transition: background 0.4s ease-in-out;

  &.bgDark {
    background: rgba(0, 0, 0, 0.956);
  }
  &.bgLight {
    background: rgba(250, 249, 249, 0.9);
  }
  &.bgHeader {
    background-color: var(--white);
    color: var(--black);
  }

  @media (max-width: 700px) {
    // border-bottom: 1px solid var(--med-grey);
    box-shadow: var(--prod-box-shadow);
  }
  .firstWrapperDiv {
    background-color: var(--prod-bg);
    // background-color: var(--yellow);
    color: var(--black);
    // border-bottom: 1px solid var(--med-grey);
    // border-top: 1px solid var(--med-grey);
    box-shadow: var(--prod-box-shadow);

    @media (max-width: 700px) {
      display: none;
    }

    .firstWrapper {
      width: 70%;
      margin: 0px auto;
      display: flex;
      align-items: center;
      height: 100%;
      max-width: var(--wrapper-max-width);

      @media (max-width: 1387px) {
        width: 90%;
      }

      @media (max-width: 1315px) {
        width: 95%;
      }

      @media (max-width: 1264px) {
        display: none;
      }

      .categories {
        background-color: var(--black);

        height: 100%;
        width: 200px;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 25px;

        @media (min-width: 1276px) {
          margin-bottom: 0px;

          &:hover {
            .dropdownMenu {
              opacity: 1;
              visibility: visible;
              pointer-events: all;
              transform: none;
            }
          }
        }

        .hasDropdownBtn {
          background: none;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: capitalize;
          font-size: 14px;
          font-family: Montserrat-Bold, sans-serif;
          text-transform: capitalize;
          color: var(--white);

          span {
            margin-left: 7px;

            .iconStyle {
              font-size: 15px;
            }
          }

          @media (max-width: 1275px) {
            justify-content: space-between;
            width: var(--full);
          }

          &:hover {
            color: var(--orange);
          }

          i {
            font-size: 13px;
          }
        }

        .dropdownMenu {
          position: absolute;
          width: auto;
          z-index: 21;
          padding-top: 32px;
          top: 21%;
          left: 0px;
          cursor: default;
          visibility: hidden;
          opacity: 0;
          pointer-events: none;
          transform: translateY(15px);
          transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
          transition-delay: 0.1s;

          @media (min-width: 1276px) and (max-width: 1640px) {
            &.dropResources {
              left: -475px;
            }
          }

          @media (max-width: 1275px) {
            position: relative;
            width: var(--full);
            padding-top: 0px;
            margin-top: 16px;
            max-height: 0;
            overflow: hidden;
            z-index: 0;
            top: 0;
            left: 0;
            visibility: visible;
            opacity: 1;
            pointer-events: visible;
            transform: none;
            transition: all 0.4s ease-in-out;

            &.show {
              max-height: 300px;
              overflow-y: scroll;
            }
          }

          .dropdownContainer {
            width: auto;
            display: flex;
            background: var(--white);
            border-radius: 0px 0 2px 2px;
            box-shadow: var(--dropdown-box-shadow);

            @media (max-width: 1275px) {
              flex-direction: column;
              box-shadow: none;
              border-radius: 0;
            }

            .dropFeatured {
              border-left: 1px solid rgba(244, 244, 244, 0.6);
              padding: 25px 25px 25px 64px;
              margin: 25px 32px 25px 0px;

              @media (max-width: 1275px) {
                border-left: 0;
                border-top: 1px solid rgba(244, 244, 244, 0.6);
                margin: 25px 0px 0px;
                padding: 25px 16px;
              }

              .dropFeaturedHead {
                font-family: Montserrat-Bold, sans-serif;
                font-size: 17px;
              }

              .dropFeaturedImg {
                margin: 16px 0;
                width: 270px;
                max-width: var(--full);

                > img {
                  width: var(--full);
                }
              }

              .dropFeaturedDesc {
                font-size: 14px;
                color: var(--text-secondary);
              }
            }
          }

          .dropdownWrapper {
            display: grid;
            grid-template-columns: repeat(3, 300px);

            @media (max-width: 1275px) {
              display: block;
              width: var(--full);
            }

            > li {
              height: var(--full);

              @media (max-width: 1275px) {
                height: auto;
                width: var(--full);
              }

              > div {
                display: flex;
                white-space: pre-wrap;
                height: var(--full);
                padding: 25px 32px;

                @media (max-width: 1275px) {
                  width: var(--full);
                  padding: 25px 16px;
                }

                &:hover {
                  background: var(--black);
                  color: var(--white);

                  .dropText {
                    .linkDiv {
                      .dropDesc {
                        color: var(--white);
                      }
                    }
                  }
                }

                .dropIcon {
                  flex-shrink: 0;
                  margin-right: 13px;
                }

                .dropText {
                  .dropTextHead {
                    font-family: Montserrat-Bold, sans-serif;
                    display: block;
                    font-size: 17px;
                  }

                  .linkDiv {
                    display: grid;
                    grid-template-columns: repeat(3, 80px);
                    a {
                      .dropDesc {
                        color: var(--black);
                        margin-top: 8px;
                        font-size: 14px;
                        line-height: 1.6;
                        display: block;

                        @media (max-width: 1275px) {
                          font-size: 14px;
                        }
                      }
                    }
                  }

                  // &:hover {
                  //   .dropDesc {
                  //     color: red;
                  //   }
                  // }
                }
              }
            }
          }
        }
      }

      .items {
        font-size: 14px;
      }

      .navLinks {
        display: flex;
        align-items: center;
        // margin-left: 40px;

        li {
          margin-left: 80px;
          width: fit-content;
          height: fit-content;

          &:last-of-type {
            margin-right: 0;
          }

          @media (max-width: 1264px) {
            margin-bottom: 40px;
            width: var(--full);
            margin-right: 0px;
          }

          > a {
            font-size: 15px;
            color: var(--black);
            font-family: Montserrat-Medium, sans-serif;
            text-transform: capitalize;

            @media (max-width: 1264px) {
              color: var(--head-txt) !important;
              font-size: 15px;
              font-family: Montserrat-Medium, sans-serif;
            }

            &:hover {
              color: var(--main) !important;
              position: relative;

              &::after {
                position: absolute;
                content: "";
                height: 2px !important;
                bottom: -5px;
                margin: 0 auto;
                left: 0;
                right: 0;
                width: 100%;
                background: var(--main);
                -o-transition: 0.5s;
                -ms-transition: 0.5s;
                -moz-transition: 0.5s;
                -webkit-transition: 0.5s;
                transition: 0.5s;
              }
            }
          }

          .active {
            color: var(--main) !important;
            font-weight: 700;
            position: relative;

            &::after {
              position: absolute;
              content: "";
              height: 2px !important;
              bottom: -5px;
              margin: 0 auto;
              left: 0;
              right: 0;
              width: 100%;
              background: var(--main);
              -o-transition: 0.5s;
              -ms-transition: 0.5s;
              -moz-transition: 0.5s;
              -webkit-transition: 0.5s;
              transition: 0.5s;
            }
          }

          .activeDrop {
            color: var(--black) !important;
            background-color: var(--yellow);
            font-weight: 700;
          }

          &.hasDrop {
            position: relative;
            top: 0px;
            margin-bottom: 25px;
            color: var(--white);

            @media (min-width: 1276px) {
              margin-bottom: 0px;

              &:hover {
                position: relative;

                &::after {
                  position: absolute;
                  content: "";
                  height: 2px !important;
                  bottom: -5px;
                  margin: 0 auto;
                  left: 0;
                  right: 0;
                  width: 100%;
                  background: var(--main);
                  -o-transition: 0.5s;
                  -ms-transition: 0.5s;
                  -moz-transition: 0.5s;
                  -webkit-transition: 0.5s;
                  transition: 0.5s;
                }
                .dropdownMenu {
                  opacity: 1;
                  visibility: visible;
                  pointer-events: all;
                  transform: none;
                }
              }
            }

            .dropdownMenu {
              position: absolute;
              width: 150px; // note here was 120px
              padding-top: 8px;
              top: 100%;
              left: 0px;
              cursor: default;
              visibility: hidden;
              opacity: 0;
              pointer-events: none;
              transform: translateY(15px);
              transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
              transition-delay: 0.1s;

              @media (min-width: 1276px) and (max-width: 1640px) {
                &.dropResources {
                  // left: -475px;
                }
              }

              @media (max-width: 1275px) {
                position: relative;
                width: var(--full);
                padding-top: 0px;
                margin-top: 16px;
                max-height: 0;
                overflow: hidden;
                top: 0;
                left: 0;
                visibility: visible;
                opacity: 1;
                pointer-events: visible;
                transform: none;
                transition: all 0.4s ease-in-out;

                &.show {
                  max-height: 300px;
                }
              }

              .dropdownContainer {
                width: auto;
                display: flex;
                background-color: var(--black);
                border-radius: 2px;
                box-shadow: var(--box-shadow);
                padding: 0px 0px;

                @media (max-width: 1275px) {
                  flex-direction: column;
                  box-shadow: none;
                  border-radius: 0;
                  background-color: var(--grey);
                }
              }

              .dropdownWrapper {
                display: grid;
                grid-template-columns: repeat(1, 150px);
                // gap: 10px 0px;

                @media (max-width: 1275px) {
                  display: block;
                  width: var(--full);
                }

                > li {
                  height: var(--full);
                  // border-top: rgba(220, 220, 220, 0.162) solid 1px;

                  &:last-of-type {
                    // border-bottom: rgba(220, 220, 220, 0.162) solid 1px;
                  }

                  @media (max-width: 1275px) {
                    height: auto;
                    width: var(--full);
                  }

                  > .forDrop {
                    display: flex;
                    white-space: pre-wrap;
                    color: var(--text-primary);
                    height: var(--full);
                    padding: 10px 20px;
                    font-size: 16px;
                    font-family: Montserrat-Bold, sans-serif;

                    @media (max-width: 1275px) {
                      width: var(--full);
                      padding: 15px 16px;
                    }

                    @media (max-width: 905px) {
                      font-size: 16px;
                    }

                    &:hover {
                      background: var(--yellow);
                      color: var(--black);
                      padding: 10px 20px;
                      border-radius: 0px;

                      @media (max-width: 905px) {
                        font-size: 16px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .wrapper {
    width: 70%;
    margin: 5px auto 5px auto;
    display: flex;
    align-items: center;
    height: 100%;
    max-width: var(--wrapper-max-width);

    @media (max-width: 1387px) {
      width: 90%;
    }

    @media (max-width: 1315px) {
      width: 95%;
    }

    @media (max-width: 1264px) {
      justify-content: space-between;
    }

    @media (max-width: 600px) {
      margin: 12px auto 12px auto;
    }

    .logo {
      // width: 300px;
      height: fit-content;
      display: flex;
      align-items: center;

      img {
        width: 45px;
        height: 45px;
      }
      > a {
        // width: 102px;
        background-color: var(--black);
        // background: linear-gradient(to right, #ef8a25, #c833af);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 35px;
        font-family: Montserrat-Bold, sans-serif;
        font-weight: 900;

        // span {
        //   font-size: 30px !important;
        //   font-weight: 900;
        // }

        @media (max-width: 1264px) {
          font-size: 25px;
        }
      }

      .hamburgerBtn {
        display: none;

        .iconStyle {
          font-size: 22px;
        }

        @media (max-width: 1264px) {
          display: block;
          margin-right: 10px;
        }
      }
    }

    .navEnd {
      display: none;

      @media (max-width: 1264px) {
        display: block;
        display: flex;
        align-items: center;

        .navProfile {
          position: relative;
          .searchBtn {
            .pixStyle {
              img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
              }
            }
          }
          .profileContainer {
            position: absolute;
            box-shadow: var(--box-shadow);

            .profileDropdown {
              background-color: var(--white);

              li {
                > .forDrop {
                  display: flex;
                  white-space: pre-wrap;
                  color: var(--text-primary);
                  height: var(--full);
                  padding: 10px 20px;
                  font-size: 16px;
                  font-family: Montserrat-Bold, sans-serif;

                  @media (max-width: 1275px) {
                    width: var(--full);
                    padding: 15px 16px;
                  }

                  @media (max-width: 905px) {
                    font-size: 16px;
                  }

                  &:hover {
                    background: var(--yellow);
                    color: var(--black);
                    padding: 10px 20px;
                    border-radius: 0px;

                    @media (max-width: 905px) {
                      font-size: 16px;
                    }
                  }
                }
              }
            }
          }
        }

        .navSearch {
          position: relative;

          .barContainer {
            position: absolute;
            box-shadow: var(--box-shadow);
            right: 280px;
            width: 800px;

            .bar {
              background-color: var(--white);
              max-width: 800px;
              padding: 20px;
              border-radius: 4px;
            }
          }
        }

        .dark {
          color: var(--black);
          font-size: 22px;
          margin-left: 10px;
        }

        .iconStyleLight {
          font-size: 22px;
        }

        .cartCount {
          position: relative;

          div {
            position: absolute;
            background-color: var(--main);
            height: 22px;
            width: 22px;
            border-radius: 50%;
            top: -5px;
            right: -15px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--white);
            font-size: 12px;
            font-family: Montserrat-Medium, sans-serif;
          }
        }

        > div {
          margin-right: 15px;

          // &:last-of-type {
          //   margin-right: 0px;
          // }
        }
      }
    }
  }
}
