.choose {
  width: 100%;
  position: relative;
  height: 737px;
  // padding: 50px 0 50px 0;
  position: relative;
  // background: url(../../../../assets/images/css-bg.png);
  // background-color: var(--gray-bg);
  background-color: #f9f9f9;

  .container {
    display: flex;
    position: relative;
    width: 97.5vw;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;

    .left {
      width: 45%;
      // padding-top: 150px;
      color: var(--head-txt);
      position: relative;

      p {
        max-width: 500px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        font-style: italic;
        line-height: 26px;
        color: var(--main);
        letter-spacing: 1px;
        margin: 20px 0;
        opacity: 0.7;
      }

      h3 {
        font-size: 60px;
        max-width: 600px;
        margin-bottom: 40px;
      }

      .leftContent {
        .item {
          display: flex;
          margin-bottom: 10px;

          .number {
            position: absolute;
            // right: 0;

            div {
              position: absolute;
              background-color: var(--yellow);
              height: 30px;
              width: 30px;
              // border-radius: 50%;
              // top: -10px;
              // right: -10px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: var(--black);
              font-size: 16px;
              font-weight: bolder;
            }
          }

          .info {
            margin-left: 50px;

            h4 {
              margin-top: 5px;
            }

            p {
              max-width: 450px;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 26px;
              color: var(--black);
              letter-spacing: 1px;
              margin: 20px 0;
              opacity: 0.7;
            }
          }
        }
      }

      @media screen and (max-width: 1387px) {
        width: 55%;
      }
      @media screen and (max-width: 1200px) {
        padding-bottom: 0px;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
      }
    }

    .right {
      flex: 1;
      height: 100%;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--black);
        opacity: 0.4;
      }

      @media screen and (max-width: 1200px) {
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;

        @media (max-width: 1385px) {
          width: 95%;
        }

        @media screen and (max-width: 1200px) {
          max-height: 400px;
          display: none;
        }

        @media screen and (max-width: 900px) {
          max-height: 400px;
          display: none;
        }
      }
    }
  }
}
