.label {
  // all: "initial";
  // all: unset;
  font-family: "inherit";
  margin: "0";
  padding: "0";
  border: "none";
  font-size: "100%";

  .input {
    // all: "initial";
    // all: unset;
    // font-family: "inherit";
    // margin: "0";
    // padding: "0";
    // border: "none";
    // font-size: "100%";
    // border-radius: none !important;

    // -webkit-appearance: radio;
    // appearance: radio;
    // border: 0;
    // margin: 0;
    // border-radius: none !important;
    // width: auto;
    // height: auto;
    // padding: 0;

    display: none;
  }

  .customIcon {
    // color: red;
    cursor: pointer;
  }
}
