.latest {
  padding: 150px 0 100px;
  background-color: var(--off-white);

  .latestTitle {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 50px;

    h3 {
      font-size: 40px;
      text-transform: capitalize;
    }
    p {
      font-size: 16px;
      line-height: 23px;
      margin-top: 25px;
      max-width: 700px;
    }
  }

  .wrapper {
    .collectionDiv {
      display: grid;
      grid-template-columns: 3fr 2.2fr;
      gap: 150px;

      @media (max-width: 605px) {
        display: flex;
        flex-direction: column;
         gap: 10px;
      }

      .cartTotalDiv {
        .checkoutHeader {
          font-size: 14px;
          font-weight: bolder;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
        .cartTotalContainer {
          padding: 30px 30px;
          // box-shadow: var(--box-shadow);
          // border: 1px solid var(--main);
          // background-color: var(--off-white);

          .cartTotalHeader {
            h4 {
              font-size: 18px;
              font-weight: bolder;
              font-family: Montserrat-Bold, sans-serif;
              margin-bottom: 30px;
              text-transform: uppercase;
            }
          }
          .cartTotalPrice {
            //
            .cartSubtotal {
              display: flex;
              align-items: center;
              padding: 20px 0;
              border-bottom: 1px solid var(--lite-grey);

              p {
                width: 100px;
                // font-weight: bolder;
                font-size: 16px;
                font-family: Montserrat-Medium, sans-serif;
              }
              h6 {
                font-weight: bolder;
                font-size: 14px;
                font-family: Montserrat-Bold, sans-serif;
              }
            }

            .cartTotal {
              display: flex;
              align-items: center;
              padding: 20px 0;
              margin-bottom: 20px;
              // border-bottom: 1px solid var(--lite-grey);

              p {
                width: 100px;
                // font-weight: bolder;
                font-size: 16px;
                font-family: Montserrat-Medium, sans-serif;
              }
              h6 {
                font-weight: bolder;
                font-size: 16px;
                font-family: Montserrat-Bold, sans-serif;
              }
            }
          }

          // h5 {
          //   font-size: 14px;
          //   font-family: Montserrat-Medium, sans-serif;
          //   margin-bottom: 30px;
          // }

          // h6 {
          //   font-size: 14px;
          //   font-family: Montserrat-Medium, sans-serif;
          //   margin-bottom: 10px;
          // }

          // .checkboxGroup {
          //   margin-bottom: 15px;
          // }

          // .filterBtnGroup {
          //   display: flex;
          //   align-items: center;
          //   margin-top: 50px;

          //   button {
          //     margin-right: 20px;

          //     &:last-of-type {
          //       margin-right: 0px;
          //     }
          //   }
          // }
        }

        .tableWrapper {
          .table {
            border: 1px solid var(--lite-grey);
            width: 100%;
            /* height: 200px; */
            text-align: left;

            border-collapse: collapse !important;
            background-color: white;

            /* added this now */
            overflow: scroll;

            .tr {
              .th {
                text-align: left;
                padding: 30px 20px;
                margin-bottom: 10px;
                text-transform: uppercase;
                // border-bottom: 1px solid var(--black);
                background-color: var(--lite-grey);
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                color: var(--black);
                font-weight: bolder;
                font-family: Montserrat-Bold, sans-serif;
              }
            }
          }

          .tbody {
            .td {
              padding: 23px 20px;
              border-bottom: 1px solid #f4f4f4;

              .productImg {
                border: 1px solid var(--lite-grey);
                background-color: var(--off-white);
              }

              .title {
                // button {
                //   text-decoration: underline;
                //   margin-bottom: 15px;
                //   text-transform: capitalize;
                //   color: var(--main);
                //   background: none;
                //   padding: 0;
                //   margin: 0;
                // }
                p {
                  text-decoration: none !important;
                  text-transform: uppercase;
                  display: flex;
                  align-items: center;

                  span {
                    font-size: 8px;
                    margin: 0 5px;
                    color: var(--grey);
                  }
                }
              }
            }
            .amt {
              // font-weight: bold;
              font-size: 16px;
              // font-family: Montserrat-Bold, sans-serif;
            }
          }

          .subtotal {
            background-color: var(--off-white);

            .title {
              // font-weight: bolder;
              font-size: 16px;
              font-family: Montserrat-Medium, sans-serif;
            }
          }
          .total {
            background-color: var(--lite-grey);

            .title {
              // font-weight: bolder;
              font-size: 16px;
              font-family: Montserrat-Medium, sans-serif;
            }

            td {
              font-weight: bold;
              font-size: 16px;
              font-family: Montserrat-Bold, sans-serif;
            }
          }

          .checkoutNote {
            margin: 30px 0;
            p {
              font-size: 14px;
            }
          }

          .tableActions {
            display: flex;
            justify-content: flex-start;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
