.productThumbnails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    // border: 2px solid #ccc;
    border-radius: 2px;
    transition: transform 0.2s;
    background-color: var(--white);

    &:hover {
      transform: scale(1.05);
    }

    &:last-of-type {
      margin-right: 0px;
    }
  }

  .activeThumbnail {
    border: 1px solid var(--grey);
    // background-color: var(--lite-grey);
  }
}

.productLargeFrame {
  display: flex;
  justify-content: flex-start;
  // border: 2px solid #ccc;
  border-radius: 2px;
  transition: transform 0.2s;
  margin-bottom: 10px;
  cursor: pointer;

  img {
    // width: 430px;
    width: 100%;
    height: auto;
    cursor: pointer;
    background-color: var(--white);

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    // flex-direction: column;
  }
}
