.sale {
  padding: 100px 0;
  background-color: var(--white);

  .saleTitle {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 50px;

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }

    h3 {
      font-size: 40px;
      text-transform: capitalize;

      @media screen and (max-width: 600px) {
        font-size: 25px;
        margin-bottom: 10px;
      }
    }
    p {
      font-size: 16px;
      line-height: 23px;
      margin-top: 25px;
      max-width: 700px;
    }
  }
  .productDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 33px 33px;

    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }

  // .modalChildren {
  //   display: flex;
  //   padding: 40px 20px;

  //   .modalImg {
  //     background: rgb(200, 198, 198);
  //     img {
  //       width: 350px;
  //     }
  //   }

  //   .modalTxt {
  //     width: 100%;
  //     margin-left: 20px;

  //     .modalLink {
  //       text-decoration: underline;
  //       color: var(--main);
  //     }
  //   }
  // }

  @media screen and (max-width: 600px) {
    padding: 50px 0;
  }
}
