.explore {
  width: 100%;
  padding: 150px 0 150px 0;
  // position: relative;
  // background: url(../../../../assets/images/k-swiss-unsplash.jpeg);
  // background-color: var(--gray-bg);
  // background-color: #b5a85e;
  // overflow: hidden;

  background: linear-gradient(
      to right,
      rgba(8, 8, 8, 0.502),
      rgba(8, 8, 8, 0.502)
    ),
    url("../../../../assets/images/alex-unsplash.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);

  .exploreText {
    max-width: 600px;

    h3 {
      font-size: 50px;
    }

    p {
      margin: 30px 0;
      font-size: 16px;
      line-height: 23px;
    }
  }
}
