.choose {
  padding: 100px 0 100px 0;
  width: 100%;
  background-size: cover; /* or other properties to adjust the background */
  background-position: center;
  background-repeat: no-repeat;
  background: url("../../../../assets/images/vecteezy_abstract-white-fluid-wave-background_7075692.jpg");

  background-color: #f9f9f9;

  .container {
    display: grid;
    grid-template-columns: 35% 55%;
    gap: 10%;

    @media (max-width: 700px) {
      display: flex;
      flex-direction: column;
    }

    .left {
      .leftContent {
        background-color: var(--white);
        border: solid 1px var(--lite-grey);
        // box-shadow: var(--box-shadow);
        padding: 50px;

        .item {
          padding: 20px 0;
          // display: flex;
          //

          .number {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            // position: absolute;
            // right: 0;

            div {
              // position: absolute;
              background-color: var(--yellow);
              height: 30px;
              width: 30px;
            }

            h4 {
              margin-left: 10px;
              font-size: 20px;
            }

            .icon {
              color: var(--main);
              font-size: 20px;
            }
          }

          .info {
            color: var(--grey);
          }
        }

        .border {
          border-top: solid 1px var(--lite-grey);
          border-bottom: solid 1px var(--lite-grey);
        }
      }

      @media screen and (max-width: 1387px) {
        // width: 55%;
      }
      @media screen and (max-width: 1200px) {
      }
    }

    .right {
    }
  }
}
