body.dark-mode {
  .cart-info {
    padding: 100px 0px;
    .title {
      font-size: 22px;
      text-transform: capitalize;
    }

    .cart-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0px 40px 0px;

      .cart-count {
        display: flex;
        align-items: center;

        span {
          margin-right: 10px;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
    .cart-grid {
      display: grid;
      grid-template-columns: 4fr 2fr;
      gap: 0px 0px;

      .cart-order {
        .order-summary {
          padding: 20px;
          border: solid 1px var(--black);
          border-radius: var(--radius);

          h5 {
            font-size: 30px;
            margin-bottom: 20px;
          }

          .txt {
            .txt-span {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 20px;

              &:last-of-type {
                font-weight: bolder;
              }
            }
          }
        }
      }
      .cart-items {
        .cart-item {
          display: flex;
          align-items: center;
          padding: 20px 20px 20px 0px;
          border-bottom: solid var(--black) 1px;

          &:last-of-type {
            border-bottom: none;
          }

          .img-div {
            width: 150px;
            background-color: grey;
            margin-right: 20px;
            img {
              width: 100%;
            }
          }

          .txt-div {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            .txt {
              p {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                &:last-of-type {
                  margin-bottom: 0px;
                }
                .span {
                  font-weight: bolder;
                  width: 70px !important;
                }
              }
            }
            .qty {
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: space-between;

              .update-qty {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1px;
                border: solid 1px var(--black);
                border-radius: var(--radius);
                margin-bottom: 10px;

                button {
                  background: none;
                  font-size: 27px;
                }
                .qty-txt {
                  // border: solid 1px var(--main-color);
                  padding: 5px 10px;
                  margin: 0px 10px;
                  border-radius: var(--radius);
                  font-size: 20px;
                  // background-color: aqua;
                }
              }

              p {
                font-size: 30px;
              }
            }
          }
        }
      }
    }
  }
}

body.light-mode {
  .cart-info {
    padding: 100px 0px;
    .title {
      font-size: 22px;
      text-transform: capitalize;
    }

    .cart-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0px 40px 0px;

      .cart-count {
        display: flex;
        align-items: center;

        span {
          margin-right: 10px;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
    .cart-grid {
      display: grid;
      grid-template-columns: 4fr 2fr;
      gap: 0px 0px;

      .cart-order {
        .order-summary {
          padding: 20px;
          border: solid 1px var(--black);
          border-radius: var(--radius);

          h5 {
            font-size: 30px;
            margin-bottom: 20px;
          }

          .txt {
            .txt-span {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 20px;

              &:last-of-type {
                font-weight: bolder;
              }
            }
          }
        }
      }
      .cart-items {
        .cart-item {
          display: flex;
          align-items: center;
          padding: 20px 20px 20px 0px;
          border-bottom: solid var(--black) 1px;

          &:last-of-type {
            border-bottom: none;
          }

          .img-div {
            width: 150px;
            background-color: grey;
            margin-right: 20px;
            img {
              width: 100%;
            }
          }

          .txt-div {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            .txt {
              p {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                &:last-of-type {
                  margin-bottom: 0px;
                }
                .span {
                  font-weight: bolder;
                  width: 70px !important;
                }
              }
            }
            .qty {
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: space-between;

              .update-qty {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1px;
                border: solid 1px var(--black);
                border-radius: var(--radius);
                margin-bottom: 10px;

                button {
                  background: none;
                  font-size: 27px;
                }
                .qty-txt {
                  // border: solid 1px var(--main-color);
                  padding: 5px 10px;
                  margin: 0px 10px;
                  border-radius: var(--radius);
                  font-size: 20px;
                  // background-color: aqua;
                }
              }

              p {
                font-size: 30px;
              }
            }
          }
        }
      }
    }
  }
}
