.productCard {
  background: var(--white);
  box-shadow: var(--box-shadow);
  // margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  // padding: 30px;
  position: relative;
  height: 450px;

  @media screen and (max-width: 600px) {
    height: 350px;
  }

  &:hover {
    // background-color: rgba(227, 227, 227, 0.593);
    box-shadow: var(--prod-box-shadow);
    transition: all 0.5s ease;
    transform: scale(1.02);
  }

  .sale {
    position: absolute;
    right: 0;

    div {
      position: absolute;
      background-color: var(--main);
      height: 45px;
      width: 45px;
      border-radius: 50%;
      top: -10px;
      right: -10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--white);
      font-size: 12px;
      font-weight: bolder;

      @media screen and (max-width: 600px) {
        height: 35px;
        width: 35px;
        top: -5px;
        right: -5px;
      }
    }
  }

  &::after {
    content: "";

    width: 100%;
    height: 100%;
    /* Set bg and hide the element + animation */
    background-color: var(--black);
    opacity: 0;
    transition: all 0.5s ease;
    border-radius: var(--radius);
  }

  .productDiv {
    width: 100%;
    height: 220px;
    margin-bottom: 30px;
    background-color: var(--lite-grey);
    cursor: pointer;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain; /* we also have cover, fill, */
      // text-align: center;
      transition: all 0.5s ease;
    }
  }

  .titlePrice {
    text-align: center;

    .price {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 10px 0 20px 0;

      p {
        color: grey;
        margin-right: 7px;
      }

      .linethrough {
        text-decoration: line-through !important;
      }

      span {
        p {
          color: var(--main);

          &:last-of-type {
            margin-right: 0px;
          }
        }
        .underline {
          text-decoration: underline;
        }
        .none {
          text-decoration: none !important;
        }
      }
    }

    .btnDiv {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto 0;
    }
  }

  .productActions {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 7. Add this. */
    opacity: 0;
    transition: all 0.5s ease;
    // z-index: 2;

    // transition: 300ms ease-out;
    // transform: translateY(20px);

    .productAct {
      border-radius: 50%;
      background-color: var(--white);
      height: 40px;
      width: 40px;
      position: relative;
      margin-right: 10px;
      transition: all 0.5s ease;
      cursor: pointer;

      &:last-of-type {
        margin-right: 0px;
      }

      .shop-icon {
        // font-size: 17px;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* 7. Add this. */
      }

      &:hover {
        transform: scale(1.1);
        transition: all 0.5s ease;
      }
    }
  }

  &:hover .productActions {
    opacity: 1;
    transition: all 0.5s ease;
  }
  &:hover::after {
    transition: all 0.5s ease;
    /* Show the overlay on hover */
    opacity: 0.01;
    // backdrop-filter: blur(10px);
    // -webkit-backdrop-filter: blur(10px);
  }
  &:hover .productDiv {
    img {
      transition: all 0.5s ease;
      // box-shadow: ;
      // transform: translate(-50%, -50%) scale(1.01);
    }
  }
}
