.cartNav {
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 999 !important;
  // transition: left 0.4s ease-in-out;
  // transition: right 0.9s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transform: translateX(100%); // Start off-screen
  background: var(--white);
  width: 400px;
  padding: 20px;

  &.show {
    transform: translateX(0); // Slide in
  }

  &.hidden {
    transform: translateX(100%); // Slide out
  }

  @media screen and (max-width: 299px) {
    width: 280px;
  }

  .cartWrapper {
    position: relative;
    height: calc(100% - 101px);

    .cartHeader {
      // background: var(--main);
      // padding: 40px 20px;
      padding: 20px 0 40px 0;

      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--black);
      border-bottom: solid 1px var(--lite-grey);

      .shoppingCart {
        display: flex;
        align-items: center;

        p {
          text-transform: uppercase;
          font-weight: bolder;
        }
        // &:last-of-type{
        //
        // }
      }

      .flexHead {
        .close {
          font-size: 15px;
        }
      }

      .cartCount {
        position: relative;
        margin-left: 10px;

        div {
          // position: absolute;
          background-color: var(--main);
          height: 25px;
          width: 25px;
          border-radius: 50%;
          top: -10px;
          // right: -10px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--white);
          font-size: 12px;
          font-family: Montserrat-Bold, sans-serif;
          font-weight: bolder;
        }
      }
    }

    .cartBody {
      height: 100%;
      // padding: 20px;
      // top: 101px;

      .cartList {
        overflow: auto;
        height: 84%;

        .cartItem {
          padding: 20px 0;
          display: flex;
          align-items: center;
          border-bottom: solid 1px var(--black);

          &:last-of-type {
            border-bottom: none;
          }

          .cartItemImg {
            width: 100px;
            background-color: #f4f2f2;
            margin-right: 20px;
            img {
              width: 100%;
            }
          }

          .cartItemText {
            h5 {
              margin: 10px 0;
            }
            .updateQty {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 1px;
              border: solid 1px var(--black);
              border-radius: var(--radius);
              width: 80px;

              button {
                background: none;
                font-size: 27px;
              }
              .qtyTxt {
                border-radius: var(--radius);
                font-size: 20px;
              }
            }
          }
        }
      }
    }

    .cartFooter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      width: 100%;
      bottom: -100px;
      border-top: solid 1px var(--lite-grey);
      // margin: 20px 0px;
      padding: 20px 0 0 0;

      button {
        &:last-of-type {
          margin-left: 20px;
        }
      }
    }
  }
}
