.cartNav {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999 !important;
  // transition: left 0.4s ease-in-out;
  // transition: right 0.9s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transform: translateX(100%); // Start off-screen
  background: var(--white);
  width: 400px;
  padding: 0px 10px;
  // overflow: scroll;

  &.show {
    transform: translateX(0); // Slide in
  }

  &.hidden {
    transform: translateX(-100%); // Slide out
  }

  @media screen and (max-width: 600px) {
    width: 90%;
  }

  .cartWrapper {
    position: relative;
    height: calc(100% - 101px);

    .cartHeader {
      // background: var(--main);
      // padding: 40px 20px;
      padding: 20px 0 40px 0;

      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--black);
      border-bottom: solid 1px var(--lite-grey);

      .shoppingCart {
        display: flex;
        align-items: center;

        p {
          text-transform: uppercase;
          font-weight: bolder;
        }
        // &:last-of-type{
        //
        // }
      }

      .flexHead {
        .close {
          font-size: 15px;
        }
      }

      .cartCount {
        position: relative;
        margin-left: 10px;

        div {
          // position: absolute;
          background-color: var(--main);
          height: 25px;
          width: 25px;
          border-radius: 50%;
          top: -10px;
          // right: -10px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--white);
          font-size: 12px;
          font-family: Montserrat-Bold, sans-serif;
          font-weight: bolder;
        }
      }
    }

    .cartBody {
      height: 100%;
      overflow: scroll;
    }

    .cartSubtotal {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      width: 100%;
      bottom: -10px;
      // border-top: solid 1px var(--lite-grey);
      // margin: 20px 0px;
      padding: 20px 0 0 0;
      color: var(--grey);
      font-weight: bolder;
      text-transform: uppercase;
      // font-size: 10px !important;

      p {
        font-family: Montserrat-Bold, sans-serif;
        color: var(--grey);
        font-weight: bolder;
        text-transform: uppercase;
        font-size: 14px !important;
      }
      span {
        font-family: Montserrat-Bold, sans-serif;
        color: var(--grey);
        font-weight: bolder;
        text-transform: uppercase;
        font-size: 14px !important;
      }

      // a {
      //   &:last-of-type {
      //     margin-left: 20px;
      //   }
      // }
    }

    .cartFooter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      width: 100%;
      bottom: -100px;
      border-top: solid 1px var(--lite-grey);
      // margin: 20px 0px;
      padding: 20px 0 0 0;

      a {
        &:last-of-type {
          margin-left: 20px;
        }
      }
    }
  }
}
